<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maximilian Hajek | {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <link rel="canonical" href="http://www.maxhajek.com/" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400&display=swap"
      rel="stylesheet"
      preload
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap"
      rel="stylesheet"
      preload
    />
  </head>

  <body class="h-screen font-rubik dark:text-white dark:bg-black">
    {% include "components/header.njk" %}
    <main class="container mx-auto px-8">{% block main %}{% endblock %}</main>
    {% include "components/footer.njk" %}
  </body>
</html>
