<footer class="container mx-auto px-8">
  <div
    class="border-t flex justify-between items-center py-7 flex-col md:flex-row gap-8"
  >
    <div class="flex justify-center items-center gap-3">
      <a
        href="/"
        class="text-4xl font-lexend font-bold text-shadow shadow-[#2fff2f]"
        >MH</a
      >
      <h3>
        Maximilian Hajek <br />
        Digital Creator & Code Craftsman
      </h3>
    </div>
    <p class="text-center md:text-right">
      © 2024 maxhajek.com <br />
      hosted on
      <a
        class="underline underline-offset-2 text-[#2fff2f]"
        href="https://pages.github.com/"
        >GitHub Pages</a
      >
      with
      <a
        href="https://www.11ty.dev/"
        class="underline underline-offset-2 text-[#2fff2f]"
        >11ty</a
      >
    </p>
  </div>
</footer>
