<header>
  <nav
    class="container mx-auto px-8 flex justify-between items-center h-16 shadow-sm font-lexend font-bold text-xl"
    role="navigation"
  >
    <a href="#" class="text-4xl text-shadow shadow-[#2fff2f]">MH</a>
    <div class="hidden md:block" id="menu">
      <a href="#" class="p-4">about me</a>
      <a href="#" class="p-4">projects</a>
      <a href="#" class="p-4">blog</a>
    </div>
  </nav>
</header>
