<header>
  <nav
    class="container mx-auto px-8 flex justify-between items-center h-16 shadow-sm font-lexend font-bold text-xl"
    role="navigation"
  >
    <a href="#" class="text-4xl text-shadow shadow-[#2fff2f]">MH</a>
    <h4 class="text-base">Maximilian Hajek</h4>
  </nav>
</header>
